:root {
  --bg-body: rgb(159, 197, 232);
  --bg-board: rgb(143, 177, 208);
  --bg-transparent: transparent;
  --bg-primary: rgb(128, 187, 157);
  --bg-primary-hovered: rgb(102, 149, 125);
  --bg-secondary: rgb(143, 208, 207);
  --bg-secondary-hovered: rgb(128, 187, 186);
  --bg-danger: rgb(160, 0, 0);
  --bg-danger-hovered: rgb(128, 0, 0);
  --clr-border: #888;
  --clr-font-white: rgb(255, 255, 255);
  --font-family: 'Arial', sans-serif;
  --font-size: 1rem;
  --radius-block: 10px;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: var(--font-family);
  font-size: var(--font-size); 
  background-color: var(--bg-body);
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  font: inherit;
  background-color: var(--bg-button);
  cursor: pointer;
}

button svg {
  flex-shrink: 0;
}

body.modal-open {
  overflow: hidden; /* see "modal-open" in 'dialog-modal.tsx' */
}

.grid-container {
  display: grid;
  justify-items: center;
  gap: 1em;
}

.sr-only span {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}